* sklearn always take input as a datframe

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

### 1) Aam Zindagi

* performing simple imputer on column fever because some values are not present in that column

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:5],df.iloc[:,-1],test_size=0.2,random_state=0)

In [23]:
from sklearn.impute import SimpleImputer
si=SimpleImputer()

x_train_fever=si.fit_transform(x_train[["fever"]])
x_test_fever=si.transform(x_test[["fever"]])

* performing ordinal encoder on cough column because it is ordinal categorical data

In [36]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[["Mild","Strong"]])

x_train_cough=oe.fit_transform(x_train[["cough"]])
x_test_cough=oe.transform(x_test[["cough"]])

* peerforming onehotencoding on clumn gender and city beacause they are nominal categorical column

In [50]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop="first",dtype=np.int32)

x_train_gc=ohe.fit_transform(x_train[["gender","city"]]).toarray()
x_test_gc=ohe.transform(x_test[["gender","city"]]).toarray()

In [66]:
x_train_age=x_train[["age"]].values
x_test_age=x_test[["age"]].values

In [67]:
x_train_transform=np.hstack((x_train_fever,x_train_cough,x_train_gc,x_train_age))

In [71]:
x_train_transform.shape

(80, 7)

### 2) Mentos Zindagi

In [72]:
from sklearn.compose import ColumnTransformer

In [81]:
transformer=ColumnTransformer(transformers=[
    ("tnf1",SimpleImputer(),["fever"]),
    ("tnf2",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),
    ("tnf3",OneHotEncoder(drop="first",sparse_output=False),["gender","city"])
],
remainder="passthrough")

In [82]:
x_train_transform=transformer.fit_transform(x_train)
x_test_transform=transformer.transform(x_test)

In [83]:
x_train_transform.shape

(80, 7)

* now i will take one example

In [85]:
from sklearn.compose import ColumnTransformer

In [87]:
df=pd.read_csv("customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [93]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:4],df.iloc[:,-1],test_size=0.3,random_state=0)

In [94]:
transformer=ColumnTransformer(transformers=[
    ("tnf1",OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]]),["review","education"]),
    ("tnf2",OneHotEncoder(drop="first",sparse_output=False),["gender"])    
],remainder="passthrough")

In [95]:
x_train_transform=transformer.fit_transform(x_train)
x_test_transform=transformer.fit_transform(x_test)

In [98]:
x_train_transform.shape

(35, 4)

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object