In [5]:
import pandas as pd

# Working with JSON

In [6]:
df=pd.read_json("trainre_name.json")

In [7]:
import numpy as np

In [9]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

* if we put direct link of api then also it works
* df.read_json("link")

# Working with SQL

In [10]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ----- ---------------------------------- 1.6/11.9 MB 8.9 MB/s eta 0:00:02
     ------------- -------------------------- 3.9/11.9 MB 9.5 MB/s eta 0:00:01
     --------------------- ------------------ 6.3/11.9 MB 9.9 MB/s eta 0:00:01
     ---------------------------- ----------- 8.4/11.9 MB 10.0 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 9.5 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 8.9 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 8.3 MB/s  0:00:01
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=248050 sha256=8c39fb49ff66af8662188c9853d154e44a6c3ee1ee3c4da75f9fb7b7c6613d5f
  Stored in directory: c:\users\kaleg\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [11]:
import mysql.connector

In [13]:
conn=mysql.connector.connect(host="localhost",user="root",password="",database="world")

In [ ]:
pd.read_sql_query("select * from city",conn)